.task_wrapper {
    border-bottom: 1px solid #dbdbdb;
    padding: 20px 300px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_btn {
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
    cursor: pointer;
    transition: .2s ease-in;
    margin-left: 50px;
}

.task_content {
    max-width: 500px;
}

.close_btn {
    font-size: 16px;
}

.close_btn:hover {
    color: red;
}

.task_fix {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.task_complete {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 0px;
    margin-right: 20px;
    cursor: pointer;
}

.task_isCompleted {
    color: #01aa4ddc;
}

.task_isCompleted .task_content {
    text-decoration: line-through;
}