.task_wrapper {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding: 20px 100px 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px 10px 45px;
    border-radius: 10px;
    background: #f1f1f1;
}

.close_btn {
    font-weight: 400;
    transition: .2s ease-in;
}

.close_btn:hover {
    color: red;
}

.task_content {
    margin-right: 50px;
    min-width: 300px;
    font-size: 14px;
}

.task_fix {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.task_complete {
    margin-right: 30px;
    cursor: pointer;
    color: #c45d37;
}

.task_isCompleted i {
    opacity: .6;
    color: #212121;
}

.task_isCompleted .task_content {
    text-decoration: line-through;
    color: #bdbdbd;
}

.task_editor {
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.task_editor i {
    cursor: pointer;
    transition: .2s;
    font-size: 18px;
}

.favorite_btn:hover {
    color: #ffdf2c;
}

.isFavorite {
    color: #ffdf2c;
}