.addTaskBtn {
    padding: 20px;
    border-radius: 50px;
    background: #2f9774;
    z-index: 1000;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    line-height: 12.5px;
    transition: .2s;
    box-shadow: 0px 8px 23px -5px rgba(0,0,0,0.35);
}

.addTaskBtn:hover {
    background: #23c28d;
}

.add_btn {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputTask {
    position: fixed;
    bottom: 50px;
    right: 25%;
    padding: 15px 20px;
    width: 400px;
    border-radius: 20px;
    border: 0px;
    box-shadow: 0px 8px 23px -5px rgba(0,0,0,0.35);
    font-size: 18px;
}

.inputTask:focus, .inputTask:active {
    outline: none;
}