.importantTasks_wrapper {
    background: #f7f7f7;
    overflow-y: scroll;
    overflow-x: hidden;
}

.importantTasks_wrapper::-webkit-scrollbar {
    background: #fff;
}

.importantTasks_wrapper::-webkit-scrollbar-button {
    background: #fff;
}

.importantTasks_wrapper::-webkit-scrollbar-thumb {
    background: #2196f4;
    border-radius: 5px;
}