.task_counter {
    grid-area: counter;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #2196f4;
    color: #fff;
    font-family: Calibri, sans-serif;
}

.counter {
    color: #3eff95;
    font-weight: 700;
    padding: 4px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 100%;
}

.filters div {
    cursor: pointer;
    transition: .2s;
    padding: 1px 6px;
}

.filters div:hover {
    color: #3eff95;
}

.activeTask {
    border: 2px solid #3eff95;
    border-radius: 5px;
    color: #3eff95;
}