.task_counter {
    grid-area: counter;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2196f4;
    color: #fff;
}

.counter {
    color: #dbdbdb;
    font-weight: 700;
}


.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.filters div {
    cursor: pointer;
    transition: .2s;
    padding: 1px 6px;
}

.filters div:hover {
    color: #3eff95;
}

.activeTask {
    border: 2px solid #3eff95;
    border-radius: 5px;
    color: #3eff95;
}