.todoList_wrapper {
    grid-area: todo-list;
    display: grid;
    grid-template-rows: 1fr 65px;
    grid-template-areas: 'main'
                         'counter';
    border-right: 3px solid #dbdbdb;
}