.todoList_wrapper {
    grid-area: todo-list;
    display: grid;
    grid-template-rows: 1fr 65px;
    grid-template-areas: 'main'
                         'counter';
    box-shadow: 10px 0px 20px -5px rgba(0,0,0,0.1);
    z-index: 99999;
}