.todo_link:hover {
    background: #eeeeee;
}

.todo_link {
    text-decoration: none;
    color: #949494;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.active_link {
    border-left: 5px solid #c45d37;
    background: #eeeeee;
}

.todo_link span {
    margin-left: 15px;
}

.active_link i {
    color: #c45d37;
}