.todo_wrapper {
    background: #f7f7f7;
    grid-area: todo;
    overflow-y: scroll;
    overflow-x: hidden;
}

.todo_wrapper::-webkit-scrollbar {
    background: #fff;
}

.todo_wrapper::-webkit-scrollbar-button {
    background: #fff;
}

.todo_wrapper::-webkit-scrollbar-thumb {
    background: #2196f4;
    border-radius: 5px;
}