.todo_tasks__wrapper {
    padding: 20px 40px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    border-left: 5px solid#3eff95   ;
}

.todo_tasks__wrapper:hover {
    background: #eeeeee;
}